<div class="dailymeals">
    <h2>Speisekarten</h2>

    <div class='row' ng-repeat='day in days'>
        <b>{{day.date | date:'short' }}</b><span ng-show='day.info'> ({{day.info}})</span>

        <div ng-repeat="menu in day.menus">
            <div class="span4 show" ng-hide="menu.$_edit">
                <em>Menu {{$index+1}}</em><br/>

                <div class="btn-overlay" ng-show='isShowButtons(menu)'>
                    <button data-btn-edit title='Bearbeiten' ng-click='edit(menu)'></button>
                    <br/>
                    <button btn-eject title='Rückgängig' ng-click='reset(menu)' ng-show='isDirty(menu)'></button>
                </div>
                <div class='preview' ng-click='edit (menu)' ng-mouseenter='showButtons(menu)'>
                    {{menu.row1}}<br/>
                    {{menu.row2}}<br/>
                    {{menu.price | currency}}
                </div>
            </div>
            <div class='span4' ng-show='menu.$_edit'>
                <em>Menu {{$index+1}}</em><br/>

                <div class='edit'>
                    <form>
                        <input autofocus required type='text' ng-model='menu.row1' class=" span4"/><br/>
                        <input type='text' ng-model='menu.row2' class=" span4"/><br/>
                        Preis: <input class='price span2' type='text' ng-model='menu.price ' maxlength='5'/>
                        <button btn-submit ng-click="close(menu)" title='Übernehmen'></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

