
      <form class="form-signin">
        <h3 class="form-signin-heading">Bitte melden Sie sich an.</h3>
        <input type="text" class="input-block-level" placeholder="Benutzername" data-ng-model="userName">
        <input type="password" class="input-block-level" placeholder="Kennwort" data-ng-model="password">
        <button class="btn btn-large btn-primary" type="submit">Anmelden</button>
      </form>